.earth {
    width: 500px;
    padding: 100px;
    position: relative;
    z-index: 1;
}

.moon {
    position: absolute;
    width: 150px;
    top: 300px;
    left: 250px;
    animation: linear 10s movement infinite;
    z-index: 0;
}

@keyframes movement{
    0%{width: 75px;}
    24%{z-index: 0;}
    25%{left:600px; top:150px; z-index: 2;}
    50%{width: 150px;}
    74%{z-index: 2;}
    75%{top: 550px; left: 0px; z-index: 0;}
    100%{width: 75px; transform: rotate(360deg);}
}